<div class="card">
    <div class="card-header border-bottom">
        <h4 class="card-title">Lead List</h4>
    </div>
    <div class="card-datatable">
        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap5">
            <div class="d-flex justify-content-between align-items-center mx-0 row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="DataTables_Table_1_length"><label>Show <select name="DataTables_Table_1_length" class="form-select">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries</label></div>
                </div>
            </div>
            <table class="dt-column-search table table-responsive dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                <thead>
                    <tr role="row">
                        <th class="sorting sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending">Name</th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email</th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Post: activate to sort column ascending">Post</th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending">City</th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Date</th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Salary</th>
                    </tr>
                    <tr role="row">
                        <th rowspan="1" colspan="1"><input type="text" class="form-control form-control-sm" placeholder="Search Name"></th>
                        <th rowspan="1" colspan="1"><input type="text" class="form-control form-control-sm" placeholder="Search Email"></th>
                        <th rowspan="1" colspan="1"><input type="text" class="form-control form-control-sm" placeholder="Search Post"></th>
                        <th rowspan="1" colspan="1"><input type="text" class="form-control form-control-sm" placeholder="Search City"></th>
                        <th rowspan="1" colspan="1"><input type="text" class="form-control form-control-sm" placeholder="Search Date"></th>
                        <th rowspan="1" colspan="1"><input type="text" class="form-control form-control-sm" placeholder="Search Salary"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td class="sorting_1">Aila Quailadis</td>
                        <td>aquail29prlog.org</td>
                        <td>Technical Writer</td>
                        <td>Shuangchahe</td>
                        <td>02/11/2018</td>
                        <td>$24137.29</td>
                    </tr>
                    <tr class="even">
                        <td class="sorting_1">Aili De Coursey</td>
                        <td>adewetsy.com</td>
                        <td>Environmental Specialist</td>
                        <td>Łazy</td>
                        <td>09/30/2016</td>
                        <td>$14082.44</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
