<!-- lead-list-modal.component.html -->

<div class="card" style="display: inline;">
    <div class="card-header border-bottom">
        <h4 class="card-title">Lead List</h4>
    </div>
    <div class="card-datatable">
        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap5">
            <div class="d-flex justify-content-between align-items-center mx-0 row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="DataTables_Table_1_length">
                        <label>Show <select name="DataTables_Table_1_length" class="form-select">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries</label>
                    </div>
                </div>
            </div>
            <table class="dt-column-search table table-responsive dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                <thead>
                    <tr role="row">
                        <th>Lead No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                    <tr role="row">
                        <th></th>
                        <th><input type="text" class="form-control form-control-sm" id="search_firstname" name="search_firstname" placeholder="Search First Name"></th>
                        <th><input type="text" class="form-control form-control-sm" id="search_lastname" name="search_lastname" placeholder="Search Last Name"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of leadData" (click)="selectedLead(item.leadid,item.firstname,item.lastname)">
                        <td>{{ item.lead_no }}</td>
                        <td>{{ item.firstname }}</td>
                        <td>{{ item.lastname }}</td>
                        <td><button type="submit" class="btn btn-primary waves-effect waves-float waves-light" (click)="selectedLead(item.leadid,item.firstname,item.lastname)">Select</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
